<!DOCTYPE html>

<html lang="en">
<head>
    <title>Leaf</title>
    
    <link rel="stylesheet" href='index.css'>
</head>
<body>
    <div class="heading">
        <h1>LEAF NOW</h1>
        <small><i><b> The plants <br>Make our life beautiful</b></i></small>
    </div>

    <body>
        <div class="Menu-bar">  
        <ul>
            
            <li class="active"><b><a href="#">Home</b></a></li>
            <li><a href="/account/login"><b>Log In</b></a></li>
            <li><a href="/account/signup"><b>Sign In</b></a></li>
            <li><a href="#"><b>About us</b></a></i>
<div class="sub-menu-1">
    <ul>
<li><a href="#">Mission</a></li>
<li><a href="#">Vision</a></li>
<li><a href="#">Team</a></li>
    </ul>
    
</div>
            </li>

            <li><a href="#"><b>Services</b></a></i>
                <div class="sub-menu-1">
                    <ul>
                <li><a href="#">Sell seeds</a></li>
                <li><a href="#">Buy seeds</a></li>
                <li><a href="#">donate seeds</a></li>
                <li><a href="#">Help</a></li>
                    </ul>
                    
                </div>
            </li>
        </ul>


 </body>
</html>